html *
{
    font-family: "Garamond", serif;
}

.table
{
    width: 500;
    max-width: 100%;
    margin-bottom: 1rem;
    padding-left: 10%;
    padding-top: 25%;
}
  
.table th, .table td
{
    width: 166;
    max-width: 33%;
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #1C1D21;
}

.select
{
    display: inline-block;
    width: 100%;
    text-align: center;
}

.italic 
{
    font-style: italic;
}

underline
{
    text-decoration: underline;
}

.sup
{
    vertical-align: super;
    font-size: smaller;
}

.sub
{
    vertical-align: sub;
    font-size: smaller;
}

.tab
{
    margin-left: auto !important;
    margin-right: auto !important;
}

.center 
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.profile 
{
    border-radius: 10px;
    border: 1px solid black;
}

.btn-block 
{
    display: block;
    width: 100%;
}
